.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.nav-links{
  list-style: none;
}

.nav-links li{
  display: inline-block;
  margin-left: 25px;
}

.page{
  display: flex;
  justify-content: center;
  
}

a{
  text-decoration: none;
  color: white;
}

.aula{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aulas{
  list-style: none;
  
}